#pragma code_page(65001)
#include <windows.h>

IDI_ICON1 ICON "..\\resources\\server_icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     2,4,0,0
PRODUCTVERSION  2,4,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "ApprovalSlipQuerySystem"
            VALUE "FileDescription", "批办单查询系统"
            VALUE "FileVersion", "2.4.0.0"
            VALUE "InternalName", "ApprovalSlipQueryServer"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "ApprovalSlipQueryServer.exe"
            VALUE "ProductName", "批办单查询系统"
            VALUE "ProductVersion", "2.4.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
